<section>
  <h3> Pipes Component </h3>

  <input type="text" [(ngModel)]="randomText" placeholder="Blah blah">
  <p> {{ randomText | uppercase }} </p>
  <p> {{ randomText | lowercase }} </p>
  <p> {{ randomText | capitalize }} </p>
  <p> {{ randomText | emojify }} </p>

  <p>
    Right now it's {{ rightNow | date:"h:mm a on EEEE, MMMM d, y" | lowercase }}.
  </p>

  <button (click)="addOneHour()"> Add an hour </button>

  <p> {{ currentBitcoinInvestment | currency: "EUR":true }} </p>

  <label for="rock-search"> Search for your The Rock </label>
  <input id="rock-search" type="search" [(ngModel)]="rockSearchText">
  <ul>
    <li *ngFor="let oneRock of (theRocks | doTheSearch:rockSearchText)" >
      <h4> {{ oneRock.name}} </h4>
      <img [src]="oneRock.pictureUrl">
    </li>
    </ul>

</section>
