<section>
  <h3> {{ feedbackMessage }} </h3>

  <p *ngIf="clickCount >0"> You have clicked {{clickCount}} times. </p>

  <!-- [src] brackets are used because the value will change in the DOM -->
  <img [src]="imageUrl" (click)="changeTheImage()">

  <button (click)="updateMessage()"> Click Me </button>

  <!-- disabled means you can not write in the input box anymore -->
  <!-- there are square brackets arounf disabled because it wil change in the DOM -->
  <input type="text" [disabled]="isInputDisabled">
  <button (click)="toggleThatInput()"> {{ buttonText}} </button>
</section>
